<!--TODO: This needs to be responsive-->
<md-toolbar class="loginHeader md-hue-2" md-whiteframe="8" ng-controller="loginHeaderCtrl">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="CodingLabs">
      <md-icon md-svg-icon="assets/images/logo/codingLabs_logo.svg" style="width:65px; height:65px;"></md-icon>
    </md-button>
    <h2>
      <span>NBOS App</span>
    </h2>
    <span flex></span>
    <md-button class="" ng-click="website()">
      <md-icon class="material-icons">public</md-icon>
      Website
    </md-button>
    <md-button class="md-raised" aria-label="Learn More" ui-sref="idn.login">
      Sign In
    </md-button>
  </div>
  <!--<md-progress-linear class="progressBar" ng-class="{'hideProgressbar':!showProgress }" md-mode="indeterminate"></md-progress-linear>-->
</md-toolbar>
