<!--<div layout="column" flex class="layout1">
    
    <header class="layout1-emptyHeader">
        <section ui-view="header" class="layout1-header"></section>
    </header>
    <div flex layout="row" class="layout1-content">
        <nav ui-view="nav">
        </nav>
        <div flex>
            <div class="nbos-bg">
                <div>
                    <div ui-view></div>
                </div>
                <div flex></div>
            </div>
        </div>
    </div>
</div>-->



<div layout="column" class="layout1">
    <section ui-view="header" ></section>
    <div layout="row" flex>
        <nav ui-view="nav" ></nav>
        <md-content flex class="nbos-bg">
            <div flex ui-view></div>
            <div ui-view="footer"></div>
        </md-content>
    </div>
</div>



<!--<div layout="column" flex>
    <section ui-view="header" ></section>
    <div flex class="nbos-bg" layout="column">
        

        <div flex>
            <div ui-view></div>
            <div flex></div>
        </div>
    </div>
</div>-->
