<md-sidenav class="md-sidenav-left md-whiteframe-2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar class="md-theme-indigo md-hue-1">
        <h1 class="md-toolbar-tools">Navigation</h1>
    </md-toolbar>
    <md-content flex ng-controller="NavCtrl" class="md-theme-indigo">

        <ul class="side-menu">
            <li ng-repeat="section in menu.sections" class="parent-list-item"
                ng-class="{'parentActive' : isSectionSelected(section)}">
                <h2 class="menu-heading" ng-if="section.type === 'heading'"
                    id="heading_{{ section.name | nospace }}">
                    {{section}}
                </h2>
                <menu-link section="section" ng-if="section.type === 'link'"></menu-link>
                <menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>
            </li>
        </ul>



        <!--<md-button ng-click="close()" class="md-primary" hide-gt-md>-->
            <!--Close Sidenav Left-->
        <!--</md-button>-->

        <!--<md-list>-->
            <!--<div ng-repeat="module in menu">-->
                <!--<md-subheader class="md-no-sticky">{{module.moduleName}}</md-subheader>-->
                <!--<md-list-item class="md-1-line" ng-repeat="listItem in module.list">-->
                    <!--<i class="material-icons" ng-if="listItem.icon">{{listItem.icon}}</i>-->
                    <!--<div class="md-list-item-text" layout="column">-->
                        <!--<a ui-sref="{{listItem.name}}" disabled="{{listItem.disabled}}">{{ listItem.data.name | uppercase }}</a>-->
                    <!--</div>-->
                <!--</md-list-item>-->
                <!--<md-divider ></md-divider>-->
            <!--</div>-->

        <!--</md-list>-->


    </md-content>

</md-sidenav>